* {
    margin: 0;
    padding: 30;
    box-sizing: border-box;
}
.body {
    background-color: #FBE5C8;
}
.heading {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.main-heading {
    font-size: 56px;
    text-align: center;
}
.chapter-heading {
    font-size: 44px;
    font-weight: normal;
}
.sub-heading {
    font-size: 36px;
    font-weight: normal;
}
.txt {
    font-family: Arial, Helvetica, sans-serif;
}
.link {
    font-style: italic;
}
.dev-info {
    text-align: right;
    font-style: 30px;
}
.nav-item,
.block {
    display: block;
}
.inline {
    display: inline;
}
.nav-square-markers {
    list-style-type: square;
    padding: 15px;
}
.header {
    margin-bottom: 20px;
}
.nav-item {
    display: block;
    margin-left: 20px;
}
.nav {
    list-style-type: circle;
}
.main {
    margin-bottom: 20px;
}
.img-float {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 50%;
}